{% extends "base.html" %}
{% from  "layout_macros.html" import render_field, dual_form_row, full_width_field %}

{% block js %}
{{ super() }}
<script>
$(function () {
    function toggleAdvancedFieldsHandler (e) {
        e.preventDefault();
        var $fieldset = $('fieldset#advanced');
        if ($fieldset.css('display') == 'none') {
            $fieldset.slideDown();
            $('#toggle-advanced-fields-button').html('Hide advanced fields <i class="icon-chevron-down"></i>');
        } else {
            $fieldset.slideUp(function () {
                $('#toggle-advanced-fields-button').html(
                    'Show advanced fields <i class="icon-chevron-right"></i>');
            });
        }
    }
    $('#toggle-advanced-fields-button').bind('click', toggleAdvancedFieldsHandler);
});
</script>
{% endblock %}

{% block extracss %}
<style>
    .required {
        float: left;
        padding-left: 3px;
    }
    .control-label {
        float: left;
    }
</style>
{% endblock %}

{% block container_content %}
<form id="bugform" class="form span8" method="POST">
    {{ form.csrf_token }}
    <fieldset id="basic_one">
        {{ dual_form_row([form.product], [form.reporter]) }}
        {{ full_width_field(form.component) }}
        {{ dual_form_row([form.version], [form.severity]) }}
        {{ dual_form_row([form.hardware], [form.os_choice]) }}
    </fieldset>

    <a href="#" id='toggle-advanced-fields-button'>Show advanced fields <i class="icon-chevron-right"></i></a>
    <fieldset id="advanced" style="display: none;">
      {{ dual_form_row([form.target_release]) }}
      {{ dual_form_row([form.status]) }}
      {{ dual_form_row([form.assignee], [form.fedora_review]) }}
      {{ dual_form_row([form.qa_contact], [form.release_note]) }}
      {{ dual_form_row([form.docs_contact], [form.need_info]) }}
      {{ dual_form_row([form.cc])}}
      {{ full_width_field(form.alias) }}
      {{ full_width_field(form.url) }}
      {{ full_width_field(form.whiteboard) }}
      {{ full_width_field(form.clone_of) }}
      {{ full_width_field(form.environment) }}
    </fieldset>
    <fieldset id="basic_two">
        {{ full_width_field(form.summary) }}
        {{ full_width_field(form.description, rows=15) }}
        {{ full_width_field(form.attachment) }}
        <p><b>Add external Bug:</b></p>
        {{ dual_form_row([form.external_bug_location], [form.external_bug_bugid]) }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}

