{% extends "base.html" %}
{% from  "layout_macros.html" import render_field, dual_form_row, full_width_field %}

{% block js %}
{{ super() }}
<script>
$(function () {
    function toggleAdvancedFieldsHandler (e) {
        e.preventDefault();
        var $fieldset = $('fieldset#advanced');
        if ($fieldset.css('display') == 'none') {
            $fieldset.slideDown();
            $('#toggle-advanced-fields-button').html('<b>Hide advanced fields</b> <i class="icon-chevron-down"></i>');
        } else {
            $fieldset.slideUp(function () {
                $('#toggle-advanced-fields-button').html(
                    '<b>Show advanced fields</b> <i class="icon-chevron-right"></i>');
            });
        }
    }
    $('#toggle-advanced-fields-button').bind('click', toggleAdvancedFieldsHandler);
});
</script>
{% endblock %}

{% block extracss %}
<style>
    .required {
        float: left;
        padding-left: 3px;
    }
    .control-label {
        float: left;
    }
</style>
{% endblock %}

{% block container_content %}
<form id="bugform" class="form col-xs-10" method="POST">
    {{ form.csrf_token }}
    <fieldset id="basic_one">
        {{ dual_form_row([form.product], [form.user], col_one_readonly=True, col_two_readonly=True) }}
        {{ full_width_field(form.component_id, class='form-control') }}
        {{ dual_form_row([form.version], [form.severity]) }}
        {{ dual_form_row([form.hardware], [form.os_choice]) }}
    </fieldset>

    <br>
    <a href="#" id='toggle-advanced-fields-button' class='btn btn-success col-xs-12'><b>Show advanced fields</b> <i class="icon-chevron-right"></i></a>
    <fieldset id="advanced" style="display: none;" class='well'>
      {{ dual_form_row([form.target_release]) }}
      {{ dual_form_row([form.status]) }}
      {{ dual_form_row([form.assignee], [form.fedora_review]) }}
      {{ dual_form_row([form.qa_contact], [form.release_note]) }}
      {{ dual_form_row([form.docs_contact], [form.need_info]) }}
      {{ dual_form_row([form.cc])}}
      {{ full_width_field(form.alias, class='form-control') }}
      {{ full_width_field(form.url, class='form-control') }}
      {{ full_width_field(form.whiteboard, class='form-control') }}
      {{ full_width_field(form.clone_of, class='form-control') }}
      {{ full_width_field(form.environment, class='form-control') }}
    </fieldset>
    <fieldset id="basic_two">
        {{ full_width_field(form.summary, class='form-control') }}
        {{ full_width_field(form.description, rows=15, class='form-control') }}
        {{ full_width_field(form.attachment) }}
        
        <hr><h4>Add external Bug:</h4><br>
        {{ dual_form_row([form.external_bug_location], [form.external_bug_bugid]) }}
    </fieldset>
    <br>
    <div class=" well well-sm form-actions" style='height:54px;'>
        <button type="submit" class="btn btn-primary pull-right"><b>Submit</b></button>
    </div>
</form>
{% endblock %}

