{% extends "base.html" %}
{% from  "layout_macros.html" import render_field, dual_form_row, full_width_field %}

{% block extracss %}
<style type="text/css">
.control-label {
    font-weight: bold;
}
.form-field-ro {
    background-color: #eee;
    border-radius: 5px;
}
.form-horizontal .control-label {
    width: 100px;
}
.form-horizontal .controls {
    margin-left: 110px;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.bs-docs-example {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.bs-docs-example.description:after {
    content: "Description";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

span.required {
    float: left;
}
</style>
{% endblock %}

{% block container_content %}
<script type="text/javascript">
    $(document).ready(function(){
        submit_button = $('#comment-submit-button')
        submit_button.click(function(){
            comment_number = $("#comment-list > div").size() + 1
            $.ajax({
                type : 'POST',
                data : { 'comment': $('#comment-box').val(), 'comment_number': comment_number, csrfmiddlewaretoken:'{{csrf_token}}'},
                success:function(data){
                    comment_html = '\
                    <br> \
                    <div class="panel-group col-xs-12 new-comment" id="comments-accordion"> \
                        <div class="panel panel-info"> \
                            <div class="panel-heading"> \
                                <div class="panel-title"> \
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comments-accordion" href="#comment'  + data['comment_data']['no']+'"> \
                                        Description by <strong>' + data['comment_data']['fullname'] + ' </strong> <span class="pull-right">' + data['comment_data']['post_time'] + '</span> \
                                    </a> \
                                </div> \
                            </div> \
                            <div id="comment' + data['comment_data']['no'] + '" class="panel-body collapse in"> \
                            <div class="accordion-inner"> \
                                       ' + data['comment_data']['comment_text'] + ' \
                                </div> \
                            </div> \
                        </div> \
                    </div>' 
                    $(comment_html).hide().appendTo($('#comment-list')).slideDown('fast');
                    $('#comment-box').val("")
                    $(window).scrollTop(9999);
                }
            });
        });
    });
</script>

<div class="row">
    <form id="bug-edit-form" class="form-horizontal col-xs-12" method="POST" action="/bug/{{ bug_details.id }}/edit">
        {{ form.csrf_token }}
        {{ full_width_field(form.summary, class='form-control') }}
        {{ dual_form_row([
                form.status, form.alias, form.product,
                form.component_id, form.version,
                form.hardware, form.target_release,
                form.assignee
                
            ], [
                form.reported, form.qa_contact,
                form.docs_contact, form.url,
                form.whiteboard,
                form.cc, form.clone_of,
                form.environment, 
            ])
        }}
        <br>
        <div class="well well-sm form-actions" style='height:54px;'>
            <button type="submit" class="btn btn-primary pull-right"><b>Submit</b></button>
        </div>
    </form>
</div>
<hr>
<div class="row" id='comment-list'>
    <div class="panel-group col-xs-12" id="comments-accordion">
        <div class='panel panel-info'>
            <div class="panel-heading">
                <p class='panel-title'>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comments-accordion" href="#comment1">
                        Description by <strong>{{ bug_details.reporter_name }}</strong> <span class="pull-right">{{ form.reported.data }}</span>
                    </a>
                </p>
            </div>
            <div id="comment1" class="panel-body collapse in">
                <div class="accordion-inner">
                    {{ form.description.data }}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class='well' style='height:197px;'>
    <p><b>Additional Comments : </b></p>
    <textarea id='comment-box' class='col-xs-12 form-control' rows='3'></textarea>
    <div class='row'>
        <div class='col-xs-6'>
            <br>
            <h5>Post comment as {{ g.fas_user.fullname }} ({{ g.fas_user.username }})</h5>
        </div>
        <div class='col-xs-6'>
            <br>
            <button id='comment-submit-button'class='btn btn-success pull-right'><b>Post Comment</b></button>
        </div>
    </div>
</div>
{% endblock %}