{%- macro render_field(field, field_type) %}
<div class="row {% if field.errors %}error{% endif %}">
    {% if field_type == 'dual' %}
      {{field.label(class="col-xs-4", label=field.description)}}
      {% if field.flags.required %}{% endif %}
      <div class="col-xs-8">
        {{field(**kwargs)|safe}}
    {% else %}
        {{field.label(class="col-xs-2", label=field.description)}}
      {% if field.flags.required %}{% endif %}
      <div class="col-xs-10">
        {{field(**kwargs)|safe}}
    {% endif %}

    {%- if field.errors %}
      {%- for error in field.errors %}
        <p class="help-block">{{error}}</p>
      {%- endfor %}
    {%- endif %}
  </div>
</div>
{%- endmacro %}

{%- macro render_field_as_readonly(field) %}
<div class="row {% if field.errors %}error{% endif %}">
    {{field.label(class="col-xs-4", label=field.description)}}
  <div class="col-xs-8">
    <p class="{{ kwargs.class }} pull-left form-field-ro clearfix" >
      {{ field.data }}
    </p>
  </div>
</div>
{%- endmacro %}

{%- macro dual_form_row(col_one_fields, col_two_fields) %}
<div class="row">
    <div class="col-xs-6">
        {%- for field in col_one_fields %}
        <br>
      
          {% if kwargs.col_one_readonly %}
            {{ render_field_as_readonly(field, class='col-xs-12') }}
          {% else %}
            {{ render_field(field, field_type='dual', class='col-xs-12 form-control') }}
          {% endif %}
        {%- endfor %}
    </div>
    <div class="col-xs-6">
        {%- for field in col_two_fields %}
        <br>
          {% if kwargs.col_two_readonly %}
            {{ render_field_as_readonly(field, class='col-xs-12') }}
          {% else %}
            {{ render_field(field, field_type='dual', class='col-xs-12 form-control') }}
          {% endif %}
        {%- endfor %}
    </div>
</div>
{%- endmacro %}

{%- macro full_width_field(field) %}
<br>
    {{ render_field(field, field_type='full' , **kwargs) }}
{%- endmacro %}
